In [3]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# Notebook associated with storing and handling the YETI library

In [6]:
table_path='/Users/paucac/Documents/PhD/CAB/YETI/'
col_names=['Plate', 'Row','Column','ORF','Gene','Description','GO Biological Process','GO Molecular Function','GO Cellular Component','96-position']
Data = pd.read_csv(table_path+ 'Estradiol-Inducible Library_384 Format_Non-Ess Hap(Mat a).csv', delimiter=';', names=col_names, skiprows=2)
Data = Data.drop('96-position', 1)
Data.head()

,Plate,Row,Column,ORF,Gene,Description,GO Biological Process,GO Molecular Function,GO Cellular Component
0,P01,1,2,YBL016W,FUS3,P02,A,1,CGCTAGTAACAT
1,P01,1,3,YAL005C,SSA1,P01,A,2,TACCGCTTTGTC
2,P01,1,4,YBL017C,PEP1,P02,A,2,CGGAATTACCAC
3,P01,1,5,YAL007C,ERP2,P01,A,3,AGCTTGATTACC
4,P01,1,6,YBL019W,APN2,P02,A,3,GGAACTAAAGAG

In [7]:
#when replicating the YETI library, 96well-plates were arranged in the following configuration:
#    Red:plateA    Blue:plateB
#.   Yellow: PlateC Green:plateD

5183

In [14]:
0.120*96*14*4*2

1290.24